@import "./variables.css";
@import "./tailwind.css";

.offer-search-results .result-list-item {
  border-color: var(--b1);
}

#main-content {
  min-height: 80vh;
}

footer a,
footer a:visited,
footer a:active {
  color: var(--t2) !important;
}

.center-bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

h1 {
  font-weight: 600;
}

.not-loaded-product {
  filter: opacity(0.2) grayscale(100%);
  background-repeat: no-repeat;
  background-size: contain;
}
