:root {
  --kolonial-color: #f19500;
  --offer-color: #bd1bbd;
  --meny-color: #ce0029;
  --europris-color: #393;
  --max-width: 1024px;
  --background-color: #fafafa;
  --b1: #eec643;
  --t1: #141414;
  --t2: #143642;
}
